<div data-controller="modal" id="modal-wrapper" class="hidden">
  <div class="bg-slate-800 bg-opacity-50 flex justify-center items-center absolute top-0 right-0 bottom-0 left-0">
    <div id="modal-panel" class="bg-white p-6 rounded-md text-center">
      <h1 class="text-xl mb-4 font-bold text-slate-500">Modal Content</h1>
            
      <div class="flex items-center justify-end gap-5">
        <button class="custom-link" data-modal-target="cancelButton">Cancel</button>
        <button class="bg-purple-500 text-white py-2 px-4 rounded-md hover:bg-purple-600 cursor-pointer">Save</button>
      </div>
    </div>
  </div>
<div>